{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Процесс оплаты" %}{% endblock title %}

{% block content %}
    <section class="cart">
        <div class="cart-title">
            <h2>{% trans "Оплата заказа" %}</h2>
        </div>
        
        <div class="cart-cards">
            {% for item in order.items.all %}
                {% with product=item.product %}
                    <div class="cart-card">
                        <div class="cart-card-img">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimage.jpg' %}{% endif %}" alt="">
                        </div>
                        <div class="cart-card-info">
                            <div class="cart-card-name">
                                <p>{{ product.name }}</p>
                            </div>
                            <div class="cart-card-q">
                                <p>{% trans "Количество" %}: {{ item.quantity }}</p>
                            </div>
                        </div>
                        <div class="cart-card-price">
                            {% if product.discount %}
                                <div class="cart-discount">
                                    <p class="old-price">{{ product.price }} KZT</p>
                                    <p class="new-price">{{ product.sell_price }} KZT</p>
                                </div>
                            {% else %}
                                <p class="price">{{ product.price }} KZT</p>
                            {% endif %}
                        </div>
                        <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                            <input type="submit" value="{% trans 'Убрать' %}" class="remove-btn">
                            {% csrf_token %}
                        </form>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>

        <div class="total">
            <h5>{% trans "Общая сумма" %}: {{ order.get_total_cost }} KZT</h5>
        </div>

        <form action="{% url 'payment:process' %}" method="post" class="payment-form">
            {% csrf_token %}
            <input type="submit" value="{% trans 'Оплатить' %}" class="cart-btn pay-btn">
        </form>
    </section>
{% endblock content %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/payment_process.css' %}">
{% endblock extra_css %}